/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-radius: 0px !important;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
  z-index: 100;
  transition: width 0.3s; 
} */


.sidebar .nav-link {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 14px;
  padding: 8px 10px;
  margin-top: 2px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.sidebar .nav-link:hover {
  background-color: #f8f9fa;
  color: #e63946;
}

.sidebar .nav-link.active {
  color: #e63946;
  font-weight: 600;
  background-color: #f8f9fa;

}

.sidebar h6 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.sidebar {
    width: 260px; 
    min-width: 260px; 
    position: fixed;
    z-index: 1000; 
      background-color: #fff;

    left: 0;
    transition: margin 0.3s ease-in-out;
}

.sidebar.toggled {
    margin-left: -260px; 
}

#page-content-wrapper {
    margin-left: 260px;
    transition: margin 0.3s ease-in-out;
}

#page-content-wrapper.toggled {
    margin-left: 0; 
}

@media (max-width: 768px) {
    .sidebar.toggled {
        margin-left: -260px;
    }
    
    #page-content-wrapper {
        margin-left: 0;
        width: 100%;
    }
}
